/* ===== RESET DEFULT ===== */
* {
    margin: 0;
    padding: 0;
}

body {
    background: greenyellow;
    text-align: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

/* ===== FORM ===== */
form {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2f2;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, .3);

}

input,
button {
    border: none;
    outline: none;
    background: none;
    padding: 1rem 2rem;
}

input {
    flex: 2;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

button {
    user-select: none;
    -moz-user-select: none;
    flex: 1;
    background: yellow;
    font-weight: bold;
    cursor: pointer;
}

h1 {
    margin-top: 11rem;
    user-select: none;
    -moz-user-select: none;
}

h1 span {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    -webkit-text-stroke: .001px black;
    text-stroke: .001px black;
}

/* ===== NOTE TEXT ===== */
p {
    font-weight: bold;
    user-select: none;
    -moz-user-select: none;
}

p span {
    color: red;
    font-weight: bolder;
}
form input.input_desktop{
    display: block;
}
form input.input_phone{
    display: none;
}

/* ===== RESPNSIVE ===== */
@media screen and (max-width: 992px) {
    h1 {
        font-size: .8rem;
    }

    h1 span {
        font-size: 2rem;
    }
    form input.input_desktop{
        display: none;
    }
    form input.input_phone{
        display: block;
    }
}