/* ===== RESET DEFULT ===== */
* {
    margin: 0;
    padding: 0;
    transition: all .5s ease;
}

body {
    background: rgb(252, 191, 191);
    text-align: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
}

/* ===== FORM ===== */
form,
a,
h2 {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fffffff2;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, .3);
}

h2 {
    top: 70%;
    background: none;
    box-shadow: none;
}

a {
    text-decoration: none;
    top: 80%;
}

input,
button {
    border: 2px solid transparent;
    outline: none;
    background: none;
    padding: 1rem 2rem;
    font-family: 'Poppins', sans-serif;
}

input {
    flex: 2;
    font-weight: bold;
    font-size: 2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

button {
    letter-spacing: 3px;
    font-weight: 100;
    color: white;
    user-select: none;
    -moz-user-select: none;
    flex: 1;
    background: rgb(243, 46, 73);
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    border: 2px solid rgb(243, 46, 73);
    background-color: rgb(252, 191, 191);
    color: rgb(243, 46, 73);
}

h1 {
    margin-top: 11rem;
    user-select: none;
    -moz-user-select: none;
}

h1 span {
    color: rgb(50, 190, 50);
    font-size: 3rem;
    font-weight: bold;
    -webkit-text-stroke: .001px black;
}

/* ===== NOTE TEXT ===== */
p {
    font-weight: bold;
    user-select: none;
    -moz-user-select: none;
}

p span {
    color: red;
    font-weight: bolder;
}

/* ===== RESPNSIVE ===== */
@media screen and (max-width: 992px) {
    h1,h2 {
        font-size: .8rem;
    }

    h1 span {
        font-size: 2rem;
    }
    
    input{
        font-size: 1rem;
    }
}
